################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/pgsql.garantdb_configuration.properties
**/pgsql.garantdb_test.properties
**/pgsql.garantdb_configuration_en.properties
**/pgsql.garantdb_test.properties_en
**/package-lock.json
